
:root{
  --black: #2E2F30;
  --nhs-blue: #005EB8;
  --sidebar: #E8EDEE;
  --background: white;
}

a {
  color: var(--nhs-blue);
}

.shiny-notification {
  position: fixed;
  top: calc(0%);
  right: calc(0%);
}

.shiny-notification-panel {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
}

/*
.well{
  background-color: var(--sidebar);
}
/*

